/* 1) HTML tags */
*{ margin:0px; padding:0px;}
body {font:0.8em/1.5 MyriadPro; border-top:5px solid #ebebeb;}
h1, h2, h3, h4, h5, h6, p, address, blockquote, table, dl, fieldset {margin:15px 0;}
a:focus {  outline: 0px solid lime;}

/* 2) Header styles */


#header {position:relative; height:82px; width:1002px;  clear:both; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
#header { height:93px;  }
}
.logo {margin:0px ; padding:0px; border:none; float:left;}
#inner-search{ width:642px; height:91px; margin:0px; padding:0px; float:right;}
#inner-search .form-text{ margin:25px 8px 30px 9px; padding:0px 10px 0px 10px; background:url(../images/search_input_bg_innerpage.jpg) no-repeat; float:left; width:236px; height:35px; border:none; font: normal 12px Tahoma; color:#686d71;} 
#inner-search .form-submit{ border:none; width:90px; height:38px; background:url(../images/search_submit.jpg) no-repeat; margin:23px 0px 28px 5px; cursor:pointer;}
#inner-search .form-submit:hover{ background:url(../images/search_submit_over.jpg) no-repeat;}
#inner-search .form-text:focus {  outline: 0px solid lime;}
#inner-search .views-exposed-widget, .views-submit-button{ margin:0px; padding:0px; width:90px; float:left;}

#slider-wrapper {width:100%; height:306px; background:url(../images/siblings-wrapper_bg.jpg) repeat-x;}
#slideshow-wrapper{ width:1002px; height:306px; margin:0 auto; padding:0px; clear:both; }
/*********************************Front Page Quick Search CSS ********************************************/
#quicksearch{ width:653px;height:300px;padding:0px; margin:0 0 0 0; float:left; background:url(../images/quicksearch_bg.jpg) no-repeat; display:block; }
#mini-panel-frontsearch{ margin:64px 0 0 0; background:url(../images/new_serach_bg.jpg) no-repeat; display:block; width:644px; height:94px; padding:0px; position:relative;}
#mini-panel-frontsearch .form-item-keyword label{color:#3f4d5d;}
#mini-panel-frontsearch .form-item-keyword{ float:left; width:280px;  text-align:left; padding:0px 0 0 0px; margin:-2px 0px 0px 0px;  position:absolute; top:15px; left:16px; }
#mini-panel-frontsearch #edit-keyword{ background:url(../images/quick_search_input.jpg) no-repeat; width:262px; height:36px; color:#3f4d5d; padding:3px; font-family:MyriadPro;border:none; font-weight:bold; }
#mini-panel-frontsearch #edit-location{ background:url(../images/quick_search_input.jpg) no-repeat; width:262px; height:36px; color:#3f4d5d; padding:3px; font-family:MyriadPro;border:none; font-weight:bold; }
#mini-panel-frontsearch .form-item-location label{color:#3f4d5d; }
#mini-panel-frontsearch .form-item-location { float:left; width:278px; text-align:left; padding:0px; margin:-2px 0px 0px 15px; top:15px; position:absolute; left:275px; }
#mini-panel-frontsearch #edit-find{ background:url(../images/search_button.jpg) repeat-x;  outline:none; display:block; width:70px; height:40px; cursor:pointer; margin:35px 10px 4px 4px; padding:0px 6px 0 0px; color:#f3f5f4; float:right; text-align:center; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; border-radius:6px;font-weight:bold;}
#mini-panel-frontsearch #edit-find:hover{ background:#cb0a02;  }

/*********************************Inner Page Quick Search CSS ********************************************/

#inner_search_bg{ height:95px; border-top:1px #d8d8d8 solid; background:#ebebeb; border-bottom:#3f4d5d 3px solid;}
#mini-panel-searchtop{ width:1002px; margin:0 auto; padding:0px 0 0 0; background:url(../images/inner_quicksearch.jpg) no-repeat 10px 16px; position:relative;}
#mini-panel-searchtop #edit-keyword, #edit-location, #edit-keyword--2, #edit-location--2{ background:url(../images/inner_search_input.jpg) no-repeat; width:301px; height:36px; color:#3f4d5d; padding:3px; font-family:MyriadPro;border:none; font-weight:bold; }
#mini-panel-searchtop .form-item-keyword label{color:#3f4d5d;}
#mini-panel-searchtop .form-item-location label{color:#3f4d5d; }
#mini-panel-searchtop .form-item-keyword {float:left; width:307px;  text-align:left; padding:0px 0 0 0px; margin:-2px 0px 0px 0px;  position:absolute; top:5px; left:220px; }
#mini-panel-searchtop .form-item-location {float:left; width:280px; text-align:left; padding:0px; margin:-2px 0px 0px 15px; top:-6px; position:absolute; left:530px;  top:5px; }
#mini-panel-searchtop #edit-find--2, #edit-find{ background:url(../images/search_button.jpg) repeat-x;  outline:none; display:block; width:70px; height:40px; cursor:pointer; margin:20px 60px 4px 4px; padding:0px 6px 0 0px; color:#f3f5f4; float:right; text-align:center; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; border-radius:6px;font-weight:bold;}
#mini-panel-searchtop #edit-find--2, #edit-find:hover{ background:#cb0a02;  }

/*********************************Front Page Banner Slideshow CSS ********************************************/
#slideshow                      { background: url(../images/banner_bg.jpg) repeat-x; height:229px; width:349px; padding:0px;margin:0px 0 0 0px; float:right; display:block;}
#cyclewrap                      { position:relative;width:349px; margin:0px; padding:0px; height:299px;}
#cyclewrap .cycleprev, 
#cyclewrap .cyclenext           { display:block;position:absolute;width:32px;height:32px;top:130px;z-index:9999;text-decoration:none;}
#cyclewrap .cycleprev           { left:0;background:url(../images/left.png) no-repeat top left;}
#cyclewrap .cyclenext           { right:0;background:url(../images/right.png) no-repeat top left;}
#cyclewrapnav                   {
	position:absolute;
	bottom:-30px;
	z-index:9999;
	left:37px;
}
#cyclewrapnav a                 { background:transparent url(images/pagenav.png) no-repeat 0 0 ; float:left; height:15px; overflow:hidden; text-decoration:none; text-indent:-1234px; width:16px;}
#cyclewrapnav a.activeSlide     { background-position:-32px 0;}
#cycleimages                    { overflow: hidden; position: relative;}
/* 3) Font-Face styles */


@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/myriadpro-regular_0-webfont.eot');
    src: url('../fonts/myriadpro-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-regular_0-webfont.woff') format('woff'),
         url('../fonts/myriadpro-regular_0-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-regular_0-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#block-views-jobs-by-industry-block-1 .title{font-family: 'MyriadPro';}


#jobs_category{ margin:0 auto; padding:0px;}
.pane-jobs-by-industry{width:414px; height:185px; margin:15px 0 0 0 ; float:left; background: url(../images/right_bar.jpg) 390px 0px no-repeat; border:1px solid #000;}
.pane-jobs-by-industry ul{margin:10px 0 0 15px;  padding:0px; float:left; list-style:none; width:120px;}
.pane-jobs-by-industry ul li{ margin:0px; padding:5px 0 5px 0;list-style:none; display:block; color:#384656; font-family:MyriadPro; font-size:13px;}
.pane-jobs-by-industry ul li a{ color:#384656; text-decoration:none; }
.pane-jobs-by-industry ul li a:hover{ color:#8ca20d; text-decoration:underline;}

.pane-jobs-by-location{width:414px; height:185px; margin:15px 0 0 0 ; float:left; background: url(../images/right_bar.jpg) 390px 0px no-repeat;border:1px solid #000;}
.pane-jobs-by-location ul{margin:10px 0 0 15px;  padding:0px; float:left; list-style:none; width:120px;}
.pane-jobs-by-location ul li{ margin:0px; padding:5px 0 5px 0;list-style:none; display:block; color:#384656; font-family:MyriadPro; font-size:13px;}
.pane-jobs-by-location ul li a{ color:#384656; text-decoration:none; }
.pane-jobs-by-location ul li a:hover{ color:#8ca20d; text-decoration:underline;}

.category-container_173 {width:173px; height:185px; margin:15px 0 0 0; float:left;}
.category-container_173 ul{ margin:10px 0 0 15px; padding:0px; float:left; list-style:none;}
.category-container_173 ul li{ margin:0px; padding:5px 0 5px 0;list-style:none; display:block; color:#384656; font-family:MyriadPro; font-size:12px;}
.category-container_173 ul li a{ color:#384656; text-decoration:none;}
.category-container_173 ul li a:hover{ color:#8ca20d; text-decoration:underline;}


#block-views-jobs-by-industry-block{width:414px; height:185px; margin:15px 0 0 0 ; float:left; background: url(../images/right_bar.jpg) 390px 0px no-repeat;}
#block-views-jobs-by-industry-block ul{margin:10px 0 0 15px;  padding:0px; float:left; list-style:none; width:120px;}
#block-views-jobs-by-industry-block ul li{ margin:0px; padding:5px 0 5px 0;list-style:none; display:block; color:#384656; font-family:MyriadPro; font-size:13px;}
#block-views-jobs-by-industry-block ul li a{ color:#384656; text-decoration:none; }
#block-views-jobs-by-industry-block ul li a:hover{ color:#8ca20d; text-decoration:underline;}
.field-content a {color:#384656; text-decoration:none; font-family:MyriadPro; font-size:12px; font-style:normal; font-weight:normal;}
.field-content a:hover {color:#8ca20d; text-decoration:underline; }

#block-views-jobs-by-location-block-1{width:414px; height:185px; margin:15px 0 0 0 ; float:left; background: url(../images/right_bar.jpg) 390px 0px no-repeat;}
#block-views-jobs-by-location-block-1 ul{margin:10px 0 0 15px;  padding:0px; float:left; list-style:none; width:120px;}
#block-views-jobs-by-location-block-1 ul li{ margin:0px; padding:5px 0 5px 0;list-style:none; display:block; color:#384656; font-family:MyriadPro; font-size:13px;}
#block-views-jobs-by-location-block-1 ul li a{ color:#384656; text-decoration:none; }
#block-views-jobs-by-location-block-1 ul li a:hover{ color:#8ca20d; text-decoration:underline;}

.category-container_414{width:414px; height:185px; margin:15px 0 0 0 ; float:left; background: url(../images/right_bar.jpg) 390px 0px no-repeat;}
.category-container_414 ul{margin:10px 0 0 15px;  padding:0px; float:left; list-style:none; width:120px;}
.category-container_414 ul li{ margin:0px; padding:5px 0 5px 0;list-style:none; display:block; color:#384656; font-family:MyriadPro; font-size:13px;}
.category-container_414 ul li a{ color:#384656; text-decoration:none; }
.category-container_414 ul li a:hover{ color:#8ca20d; text-decoration:underline;}

.category-container_173 {width:173px; height:185px; margin:15px 0 0 0; float:left;}
.category-container_173 ul{ margin:10px 0 0 15px; padding:0px; float:left; list-style:none;}
.category-container_173 ul li{ margin:0px; padding:5px 0 5px 0;list-style:none; display:block; color:#384656; font-family:MyriadPro; font-size:13px;}
.category-container_173 ul li a{ color:#384656; text-decoration:none;}
.category-container_173 ul li a:hover{ color:#8ca20d; text-decoration:underline;}

.pane-title{font-family:MyriadPro; margin:0px; color:#8ca20d;}
.title{font-family:MyriadPro; margin:0 0 -3px 0px; background:none; border:none; padding:0px;}
h2{font-family:MyriadPro; margin:0 0 0 10px; color:#8ca20d; background:none; border:none; padding:0px;}
.more-link a{ background:#8ca20d; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:0px 10px 3px 10px; color:#fff; float:right; margin:5px 40px 10px 0; text-decoration:none; font-family:MyriadPro; display:block; z-index:10000;}
.more-link a:hover{ background:#7f9309;}

/* 3) inner page Contant styles */
#contant-container{width:1000px; height:auto; margin:0px; padding:0px; clear:both; position:relative;}
#contant_menu{ width:1000px; height:40px; padding:0px; margin:0px; clear:both; background:#fff;}

/* 4) inner page Left side Contant styles */
#contant-left{ width:228px; height:auto; margin:0 10px 10px 0px; padding:0px; float:left; background:#fbf9f9; border:1px #e1e3e4 solid; -moz-border-radius: 3px; -webkit-border-radius:3px; border-radius:3px;}
#contant-left .topnav {width: 228px; height:auto; padding:0px; font-family: "Arial"; font-size:12px; margin:0 auto;}
#contant-left ul.topnav {padding: 0;	margin: 0;font-size: 1em;	line-height: 0.5em;	list-style: none;}
#contant-left ul.topnav li {   list-style-type:none;   border-radius:3px; border: 1px #fff solid; }
#contant-left ul.topnav li a {line-height: 10px;font-size: 12px;padding: 10px 5px 10px 12px;	color: #fff;display: block;text-decoration: none;font-weight: bolder; background:#eb9c23; -moz-border-radius: 3px; -webkit-border-radius:3px;}
#contant-left ul.topnav li a:hover {background-color:#8fa73e;	color:white;}
#contant-left ul.topnav ul {margin: 0;padding: 0;	display: none;}
#contant-left ul.topnav ul li {margin: 0;	padding: 0;	clear: both;}
#contant-left ul.topnav ul li a {line-height: 5px;	padding-left: 20px;	font-size: 11px;font-weight: normal;outline:0;background-color:#fbf9f9;	 color:#6c6e6f;}
#contant-left ul.topnav ul li a:hover {background-color:#f2f3f5;color:#675C7C;}
#contant-left ul.topnav ul ul li a {color:silver;	padding-left: 40px;}
#contant-left ul.topnav ul ul li a:hover {color:#373c40;}
#contant-left ul.topnav span{	float:right;}

/* 4) inner page Mid search Contant styles */

/*.contant-center{width:544px; height:auto;  position:relative; margin:0px; padding:0px; border:1px #e1e1e1 solid; float:left;  -moz-border-radius: 10px; -webkit-border-radius:10px; border-radius:10px; }
.contant-center h1{width:530px; height:48px; background:url(../images/contant-center_h1.jpg) no-repeat; display:block; margin:0 0 0 -1px; padding:8px 0 0 16px; color:#fff; font-size:16px; font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif}
.contant-center div{ color:#515357; font: normal 12px verdana; padding-left:10px; }
.contant-center div a{ color:#286f0c; font: normal 12px verdana; text-decoration:none; padding-left:10px;}
.contant-center span a{ color:#84106a; font: normal 12px verdana; text-decoration:none; padding-left:10px;}
.contant-center p{ margin:0px; padding: 5px 0 5px 0;}
.contant-center  hr{ background:url(../images/dot.jpg) repeat-x;height:1px;border:none; padding:0px 10px 0px 10px; width:500px;}
.contant-center em{ color:#8d8f91; font-size:11px; padding-left:10px;}*/

/* 3) inner page Right side ADD Contant styles */
#contant-right{}



/* 4) Footer styles */
#footer-container {width:100%; height:50px;  overflow:hidden; margin:50px auto 0 auto; padding:0px; clear:both; background:#535e66; }
#footer-contant{width:1000px; height:50px;  overflow:hidden; margin:5px auto; padding:0px;}
#footer-menu {width:350px; height:34px;  overflow:hidden; margin: 10px 0px 0px 0px;  padding:0px; float:right}
#footer-menu ul{padding: 0px;list-style-type: none; margin:0;}
#footer-menu ul li{text-align:center; display: inline;float: left; list-style-type: none; font-family:Tahoma, Geneva, sans-serif; color:#fff; padding:5px; margin:0px;}
#footer-menu ul li a{ font-size:12px;display:block;   text-decoration: none; color:#fff;}
#footer-menu ul li a:hover {color:#eb9c23; text-decoration:underline;  }
#footer-copyright{width:285px; height:31px; margin:10px 0 0 15px; padding:0px; clear:both; color:#fff; font-size:12px;  float:left; font-family:Tahoma, Geneva, sans-serif; }
#footer-copyright a{color:#eb9c23; text-decoration:none;}


/**********************************************---------------------user-register-form -----------------------------************************/

#user-register-form .form-item-name label{ margin:5px 35px 0 0; float: left; }
#user-register-form .form-item-mail label{ margin:5px 6px 0 0; float: left; }
#user-register-form .form-item-name input{ width:220px; display: block; height:26px; margin:-5px 0 0 0; padding: 0 0 0 10px;}
#user-register-form .form-item-mail input{ width:220px; display: block; height:26px; margin:-5px 0 0 0; padding: 0 0 0 10px;}
#user-register-form .form-radios input{ margin:5px 6px 0 0; float: left; }

#user-register-form #edit-account .description{ display:none;} 
#user-register-form .form-item .description{ display:none;} 

.form-checkboxes .form-item, .form-radios .form-item {float: left; margin: 0px 10px;}
.form-checkboxes .form-item, .form-radios .form-item input{ padding-top:3px;}

